body {
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: Arial;
  background-color: #aa72ff;
  color: white;
}

h1 {
  font-size: 3.6rem;
  margin-left: 20px;
  color: white;

}

.upper-container {
  display: flex;
  background-color: #262254;
}

#userinput {
  margin: 20px 25px;
  margin-right: 0px;
  padding: 8px 15px;
  background-color: #262254;
  color: white;
}

::placeholder {
  color: rgb(117, 133, 138);
}

.text {
  color: white;
}

#enter {
  padding: 8px 15px;
  margin-left: 0px;
  background-color: #262254;
  color: white;
}

#enter:hover {
  cursor: pointer;
}

ul {
  margin-left: 8px;
}

.done {
  text-decoration: line-through;
}

.adjustline {
  line-height: 1.8;
}

.deletebtn {
  padding: 4px 10px;
  font-size: 13px;
  margin-left: 60px;
  text-decoration: none;
  background-color: #aa72ff;
  color: white;
  border: 1px solid black;
  transition: all 300ms;
}

.deletebtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
